[2016-02-08 10:37] bilalyasar opened #1 "add release profile"
[code]

[2016-02-13 04:15] bturner opened #3 "Hibernate 4's HazelcastLocalCacheRegionFactory uses an IMap for NaturalId caches"
When using `HazelcastLocalCacheRegionFactory`, the collection, entity and timestamp regions are all local, as expected. However, the natural ID region is still distributed. When using `HazelcastLocalCacheRegionFactory`, _all_ regions should be local.

[2016-02-13 04:31] bturner commented on #3
Opened #4 with a fix.

[2016-03-30 07:42] u6f6o opened #6 "LocalCacheRegion does not collect any statistics"
We use hazelcast as a second level cache for hibernate in p2p mode using a HazelcastLocalCacheRegionFactory, thus synchronising updates in the cache via invalidation messages.

Shortly before we went live, I provided my own [modified version](https://github.com/PAYON-AG/hazelcast/blob/v3.3.4-patched-v3/hazelcast-hibernate/hazelcast-hibernate3/src/main/java/com/hazelcast/hibernate/local/LocalRegion

[2016-03-30 07:48] u6f6o commented on #6
It would be furthermore nice to have an integration with [dropwizards metircs](https://github.com/dropwizard/metrics) as well. There is a moduel metrics-ehcache but no metrics-hazelcast so far. I think that needs to be changed.

[2016-04-08 08:58] kobalski commented on #6
@u6f6o Thanks for your feedback. We use hibernate's own [SecondLevelCacheStatistics](https://docs.jboss.org/hibernate/core/3.3/api/org/hibernate/stat/SecondLevelCacheStatistics.html) in our integration tests. They provide simple statistics. If you can provide additional functionality, we are always open to contribution and PR requests.

[2016-04-08 09:15] u6f6o commented on #6
@kobalski Thx for the feedback. I think I'll put some effort in because we need something like that for our application. As soon as a PR is read, I'll get back to you.

[2016-05-05 08:21] SannyStark opened #7 "Make CleanupService.registerCache delay configurable for LocalRegionCache"
"time-to-live-seconds" < 60 sec. and "max-idle-seconds" < 60 sec. don't make sense when cleanup delay is fixed and equals 60 seconds

[2016-06-14 12:40] #1 closed

[2016-06-15 09:41] kobalski commented on #3
Fixed via https://github.com/hazelcast/hazelcast-hibernate/pull/4

[2016-06-15 09:41] #3 closed

[2016-07-20 14:10] emrahkocaman opened #11 "NPE at HazelcastTimeStamper.getNextTimeStamp"
Copy of https://github.com/hazelcast/hazelcast/issues/8465

Seeing the following error in my logs in a 2 node Hazelcast cluster when I attempt to being a Hibernate session from within a threads run method. This does not occur in other areas of the application. Is there any reason the AbstractHazelcastCacheRegionFactory would have a null instance here? Something about the thread?

java.lang.NullPoi

[2016-08-01 13:09] emrahkocaman opened #12 "SoftLocking leads to deserialization of data on server"
hazelcast 3.6-EA2
hibernate 3.6.10.Final

I use the hazelcast as 2nd level cache for hibernate. It is simple 2 members cluster -
one embedded member in tomcat and one standalone member for asynchronous backup.
The cache works fine alone in the embedded member only but when I start the standalone server
it starts to fire exceptions java.lang.ClassNotFoundException: org.hibernate.cache.entry.Collect

[2016-08-24 03:57] iody opened #13 "SecondLevelCacheStatistics[hitCount=0 hit count always zero"
when running statistic hitcount is always 0. any idea?

while session metrics seems to be hitting the L2C
    2683781 nanoseconds spent performing 2 L2C hits;
    39376 nanoseconds spent performing 1 L2C misses;

[2016-08-24 04:26] iody commented on #13
ok i think this is happening when the read and write on the same transactions. tried to remove the write. and the hitcount does increase

[2016-09-09 10:19] mceleri opened #14 "HazelcastLocalCacheRegionFactory can create multiple LocalRegionCache for same region"
We have some entities cached in the same cache region.
When HazelcastLocalCacheRegionFactory builds an EntityRegion (or a CollectionRegion), it creates a new LocalRegionCache that contains his own instance of ConcurrentMap. The effect is that entities mapped in the same cache region are using different caches. And those different caches can't respect the region-cache configurations (size, eviction

[2016-09-09 10:26] mceleri opened #15 "NPE at ExpiryMarker.isReplaceableBy"
I think that the problem is that, for CollectionRegion, HazelcastLocalCacheRegionFactory creates a LocalRegionCache passing null as CacheDataDescription.
The LocalRegionCache remains without versionComparator also when metadata.isVersioned is true (and metadata contains a Comparator)

[2016-09-12 13:38] message commented on #11
Bump. Since this not getting enough attention
[code]

[code]

[2016-09-20 12:15] KrzychuJedi opened #16 "hazelcast not work with hibernate 5.2.2.Final"
In new version of hibernate are changes in some interfaces (ex. RegionAccessStrategy) thus hazelcast Impl are not compatible anymore

[2016-09-23 16:58] mesutcelik commented on #16
Hi @KrzychuJedi ,

There is already an issue for it. You can follow up https://github.com/hazelcast/hazelcast-hibernate5/issues/3

[2016-09-23 16:58] #16 closed

[2016-09-27 18:57] Michael-S-Smith commented on #11
This defect is listed as fixed under the 3.7 release notes. Can we get some details please? http://docs.hazelcast.org/docs/release-notes/index.html#37

[2016-09-27 19:37] mesutcelik commented on #11
@Michael-S-Smith ,

Sorry about that but that seems wrong. While we moved [existing issue](https://github.com/hazelcast/hazelcast/issues/8465) to this repo, we closed the issue in the original repo but it somehow ended up in the release notes. Can we correct this @Serdaro ?

We will go through existing Hibernate issues this week so please follow-up for the updates.

[2016-09-30 11:18] hasancelik opened #17 "CacheHitMissReadWriteTest.testGetUpdateRemoveGet"
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Plugins/job/Hibernate-Master/com.hazelcast$hazelcast-hibernate3/49/testReport/junit/com.hazelcast.hibernate/CacheHitMissReadWriteTest/testGetUpdateRemoveGet/

[2016-10-03 10:53] emre-aydin commented on #11
Hi @Michael-S-Smith ,

I can't reproduce your issue. Could you please provide a test case that reproduces it? Seems that the Hazelcast instance is `null` but it should only be possible when the `EntityManagerFactory` is closed and that is not the case here.

If you cannot reproduce the issue reliably via a test case, please provide more details about your configuration, namely your `persistence.xm

[2016-10-04 07:48] #13 closed

[2016-10-05 01:32] message commented on #11
I have a feeling that in my case issue was triggered only when using JRebel and hot swapping classes

[2016-10-05 14:25] Michael-S-Smith commented on #11
We are not using JPA. Our application uses old-style hibernate with an external hbm file and a hibernate.properties file. Here is an example of the stack when we see the error. The error is very intermittent and not easily reproducible. So my question is - what could be null here? Have we lost the DB connection?

2016-09-27 14:15:55,257 ERROR [stderr] (Thread-188) java.lang.NullPointerException
20

[2016-10-07 11:55] #17 closed

[2016-10-11 09:48] #15 closed

[2016-10-17 09:13] emre-aydin commented on #14
@mceleri
Only one `EntityRegion` (hence one `LocalRegionCache` and only one `ConcurrentMap`) is created for two entities if they are configured to be cached in the same region. If you're seeing two caches getting created, there might be another problem with your configuration. I have tried this with Hibernate version `4.3.8.Final` but this shouldn't be different for Hibernate 3 either.

[2016-10-17 10:05] emre-aydin commented on #11
@Michael-S-Smith,
We have released version `3.7` with some changes to help us understand what causes NPE on `HazelcastTimestamper`. Could you please update to `3.7` and share the logs when you encounter NPE again?

[2016-10-17 10:07] mceleri commented on #14
Thank you @emre-aydin
We are using hibernate 3.6.10.Final. The config is very old, maybe you are right, but it works with Ehcache based Cache. I will check our side.

[2016-10-17 16:57] Michael-S-Smith commented on #11
I am upgrading to hazelcast 3.7.2 and will get back as soon as I can. As an FYI, when I couple this upgrade with hazelcast-hibernate-3.6.5, I see a new exception that I never saw before, so I am keeping the version of hazelcast-hibernate I was using before which was 3.5.3 and upgrading only hazelcast.jar

Caused by: java.lang.NullPointerException
	at com.hazelcast.hibernate.serialization.Value.isR

[2016-10-18 08:08] emre-aydin commented on #12
@ehucka,
This is expected behaviour. In version `3.5.4` `IMapRegionCache#tryLock` used `IMap#tryLock` but it uses an `EntryProcessor` in version `3.6`, so it needs to deserialize on standalone server as well. You will need to include your application JAR on the standalone server. (you can also refactor your model classes into another separate JAR and include that on the standalone server)

[2016-10-18 09:14] ehucka commented on #12
Yes, we resolved it by overriding of cache region factory to serialize all data to byte arrays before they are stored in hazelcast. Unfortunately, because of other performance and inconsistency troubles we had to leave hazelcast and switch to ehcache with RMI replication.

[2016-10-18 12:03] #12 closed

[2016-10-20 06:05] emre-aydin commented on #11
Hi @Michael-S-Smith ,
[This fix](https://github.com/hazelcast/hazelcast-hibernate/commit/ccb6cceecc8e356ec3d6090bfe871e3c94fa3c37) probably solved this problem as well. It was released couple of days ago with hazelcast-hibernate version `3.7`, so you can upgrade to that to solve it.

[2016-10-21 13:14] Michael-S-Smith commented on #11
Now when I upgrade to 3.7.2 I see the following error in the logs and hazelcast cant start:

Caused by: com.hazelcast.config.InvalidConfigurationException: cvc-complex-type.2.4.a: Invalid content was found starting with element 'group'. One of '{"http://www.hazelcast.com/schema/config":import, "http://www.hazelcast.com/schema/config":group, "http://www.hazelcast.com/schema/config":license-

All I

[2016-10-21 20:14] mesutcelik commented on #11
@Michael-S-Smith ,

It is not really very clear to me what you have changed in the hazelcast.xml to migrate from 3.5.3 to 3.7.2. I might be missing something.

[2016-10-21 20:29] Michael-S-Smith commented on #11
Old:
<hazelcast xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.hazelcast.com/schema/config
                               http://www.hazelcast.com/schema/config/hazelcast-config-3.5.xsd"
           xmlns="http://www.hazelcast.com/schema/config">

New (copied directly from the examples in the hazelcast 3.7.2 'hazelcast-full-example.xml'):
<hazelcast

[2016-10-21 20:37] Michael-S-Smith commented on #11
Old:

&lt;hazelcast xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.hazelcast.com/schema/config
                               http://www.hazelcast.com/schema/config/hazelcast-config-3.5.xsd"
           xmlns="http://www.hazelcast.com/schema/config"&gt;

New - copied directly from hazelcast-full-example.xml

&lt;hazelcast xsi:schemaLocation="http://w

[2016-10-21 20:45] mesutcelik commented on #11
You might be hitting this issue https://github.com/hazelcast/hazelcast/issues/5551
@bilalyasar any idea?

[2016-10-21 21:37] bilalyasar commented on #11
@Michael-S-Smith
Can you start your app with `-Djaxp.debug=1` and post the logs here please?

[2016-10-25 07:08] emre-aydin opened #20 "Add hibernate.cache.hazelcast.instance_name support for client/server mode"
`hibernate.cache.hazelcast.instance_name` parameter can be passed to make `HazelcastCacheRegionFactory` and `HazelcastLocalCacheRegionFactory` look for a Hazelcast instance with the name when P2P mode is used. Same is not true when using client/server mode. See [this](https://github.com/hazelcast/hazelcast/issues/8764) for why this is required.

[2016-10-25 07:22] emre-aydin opened #21 "RegionFactory implementations should not take HazelcastInstance parameter"
`spring-orm`'s `LocalSessionFactoryBean` does not have a `RegionFactory` field  before version 4 and Hibernate 5 does not take a `RegionFactory` instance directly. For these situations, Hibernate creates `RegionFactory` instances by itself so Hazelcast's `RegionFactory` implementations discover Hazelcast instances by their name.

We should delete constructors that take `HazelcastInstance` as a par

[2016-10-25 16:28] Michael-S-Smith commented on #11
The WildFly 10.0.0 startup log with jaxp messages is attached. The exception on line 450 is the first sign of the problem in our application.

[WildFly10Startup.txt](https://github.com/hazelcast/hazelcast-hibernate/files/551166/WildFly10Startup.txt)

[2016-11-11 09:54] vpavic opened #22 "`hazelcast-client` dependency should be optional"
When Hibernate integration is used on a project that embeds the Hazelcast server, `hazelcast-client` is pulled in as a transitive dependency that isn't needed in that scenario. More importantly, this can have certain side effects since Hazelcast in some places checks for the presence of client, and adjusts the initialization of some components - see [`HazelcastCachingProvider#createClientProvider`

[2016-11-14 05:58] emre-aydin opened #23 "Config object or new Hazelcast instance should not be created when instance_name is specified"

[2016-11-15 18:06] Michael-S-Smith commented on #11
This item seems to have gone cold again.... am I the only one bumping into this error?

[2016-11-15 23:06] gAmUssA commented on #23
related https://github.com/hazelcast/hazelcast-wm/issues/28

[2016-11-16 11:14] emre-aydin commented on #22
Hey @vpavic,
I think you're right. We will make it optional shortly.

[2016-11-30 12:14] #22 closed

[2016-12-06 11:03] emre-aydin commented on #11
@Michael-S-Smith,

Is it possible that you didn't change the XML header in your imported config files? You need the following code both in your `hazelcast.xml` file and the other configuration files that you import:
[code]

[2016-12-06 11:04] emre-aydin commented on #14
Closing the issue as we haven't heard back, feel free to reopen if you still have the same problem.

[2016-12-06 11:04] #14 closed

[2016-12-09 19:11] purecharger opened #26 "Creating LocalRegionCache throws UnsupportOperationException"
After startup with HazelcastLocalCacheRegionFactory configured as the hibernate cache region factory class I get the following stacktrace due to HazelcastClientInstanceImpl.getConfig() throwing UnsupportedOperationException.

Hibernate configuration:
[code]

Default hazelcast-client.xml used.

How is this supposed to work if the exception is always thrown?

[code]

[2016-12-12 09:02] emre-aydin commented on #26
Hi @purecharger,
Thanks for reporting the issue. This exception does not cause any harm. `LocalRegionCache` only uses `max-size` and `time-to-live-seconds` from map config and those are not used when using native client with `HazelcastLocalCacheRegionFactory`. I will remove logging for this exception and ignore it as it is confusing.

[2016-12-13 00:27] benlamonica opened #28 "Cached Queries not reflecting changes when Entity's TimestampRegion value changes"
We are experiencing a problem using the com.hazelcast.hibernate.HazelcastLocalCacheRegionFactory region factory class.

The problem can be reproduced in this manner:
1) Experience drift in your cluster time. This can be caused by many different things such as thread starvation, network hiccup, hz master node flip/flop. We notice the problem especially bad with the cluster.timeDiff value exceeds -1

[2016-12-13 00:30] benlamonica commented on #28
I have a pr which i will submit with tests after I finish testing.

[2016-12-13 08:28] #26 closed

[2016-12-26 08:46] emre-aydin commented on #20
@jcarter3, this has been added as `hibernate.cache.hazelcast.native_client_instance_name` property and released in version `3.7.1` of `hazelcast-hibernate3` and `hazelcast-hibernate4`, in version `1.1.3` of `hazelcast-hibernate5`. Check out [README](https://github.com/hazelcast/hazelcast-hibernate) for more info on how to use it.

Closed by https://github.com/hazelcast/hazelcast-hibernate/pull/30

[2016-12-26 08:46] #20 closed

[2017-01-04 07:37] emre-aydin opened #31 "Different classloader problem for Hibernate4CacheKeySerializer"
When `hazelcast.jar` and `hazelcast-hibernate4.jar` are loaded by different class loaders, `com.hazelcast.hibernate.serialization.Hibernate4CacheKeySerializer` is not found to be an internal `Serializer` type by [ClassloaderUtil#isInternalType](https://github.com/hazelcast/hazelcast/blob/d2694664aaf0d0e4bc9a8b792e300672cb0e48a2/hazelcast/src/main/java/com/hazelcast/nio/ClassLoaderUtil.java#L166-L1

[2017-01-06 11:00] gabydinu commented on #31
this also accurs when using hazelcast-hibernate3.jar

[2017-01-11 06:54] sharadkeer opened #32 "Fail over from hibernate 2nd level cache"
During the POC in hazelcast, I have found hazelcast does not have failure handling capabilities. In our poc we are using entities to be cached and for the same we are using hibernate 2nd level cache with HazelcastCacheRegionFactory in our persistence.xml .

In our evalutation of fail-over when we stopped hazelcast server, Native client disconnected itself and after some retry it's basically shutdo

[2017-01-12 05:56] #23 closed

[2017-02-07 18:51] #28 closed

[2017-02-16 08:47] mdogan opened #34 "[hazelcast-hibernate3][3.6]NullPointerException on Value.isReplaceableBy"
_From @cmuramoto on February 12, 2016 13:59_

After upgrading from 3.5 to 3.6, I started to get exceptions when the system attempted to load some cacheable entities.

I am using Local mode and I noticed that the problem was arrond the following structure:

[code]

The problem is that the com.hazelcast.hibernate.serialization.Value instances associated with the **UN**VERSIONED_REGION are somehow ge

[2017-02-16 08:47] mdogan commented on #34
_From @cmuramoto on February 15, 2016 5:13_

I have created a [test case](https://github.com/cmuramoto/hz_research/blob/master/hz-2nd-level-cache/domain/src/main/java/com/nc/hz/support/TestSupport.java#L25) that can easily reproduce the issue.

The problem happens when one tries to load VersionedTree instances a second time by using a criteria with LEFT_JOIN.

[code]

Even though it is **wrong** t

[2017-02-16 08:47] mdogan commented on #34
_From @wenerme on September 5, 2016 5:50_

Same problem, 3.6.4, hibernate4

[code]

[2017-02-16 08:47] mdogan commented on #34
_From @wenerme on November 25, 2016 7:21_

This should be closed due to https://github.com/hazelcast/hazelcast-hibernate/issues/11

[2017-02-16 08:47] mdogan commented on #34
_From @Michael-S-Smith on December 2, 2016 21:17_

I understand you see these issues as the same thing - but can we get an update on [https://github.com/hazelcast/hazelcast-hibernate/issues/11] ? I have seen no feedback on it since 10/25 - what is the status? Thanks.

[2017-03-10 07:48] sancar opened #35 "Internal EntryProcessor's desearilize user object"
User complaint
https://groups.google.com/forum/#!msg/hazelcast/9eE56t7Sw8E/2G4aCIedAgAJ

Even tough in memory format is BINARY, user objects are deserialized in following internal Processors
LockEntryProcessor
UpdateEntryProcessor
UnlockEntryProcessor
As far as I understand, none of these three needs the actual value. If not needed, for user convenience we need to remove unnecessary deserializatio

[2017-03-10 08:13] mdogan commented on #35
@sancar: see https://github.com/hazelcast/hazelcast-hibernate/issues/12

[2017-03-28 18:28] bhargavm-zymr commented on #32
is there any update on this i have same situation in my application hazelcast client stops working and says instance is inactive so required some failover solution.

[2017-03-29 13:53] sharadkeer commented on #32
Hi,

I have customized hazelcast region factory class to increase client re-connection attempt to Integer.max. Also to handle cluster failure I have added LifecycleEvent listener which is bypassing the cache when hazelcast servers are down.

[2017-04-03 06:58] bhargavm-zymr commented on #32
hi can you give any reference code for handling failure and bypassing the cache. it would be more helpful and thanks for suggestion.

[2017-04-03 07:18] sharadkeer commented on #32
HI,

You'll have to customise few hazelcast classes including region factory class like below:-

1. Customize the hazelcast region-factory class and override below methods: -

@Override
	  public long nextTimestamp() {
	  //below code to handle HazelcastInstanceNotActiveException
	    return  (instance == null || !instance.getLifecycleService().isRunning()) ? System.currentTimeMillis() : Hazelcast

[2017-04-03 07:46] Nirmal-zymr commented on #32
@sharadkeer
How do you bypass second level cache? can you explain line
`ApplicationLevelIntance.setCacheDisconnected(Boolean.FALSE)`.

I know how to bypass while opening session. Tryng to figure out with JPA

[2017-04-03 08:54] sharadkeer commented on #32
For JPA you can use:-

entityManager.setProperty(AvailableSettings.SHARED_CACHE_RETRIEVE_MODE, CacheRetrieveMode.BYPASS);

[2017-04-12 12:04] emre-aydin commented on #6
@u6f6o any updates on the PR?

[2017-04-12 12:30] emre-aydin commented on #11
Closing the issue as we haven't heard back from the user. Feel free to reopen if you have any updates.

[2017-04-12 12:30] #11 closed

[2017-04-13 12:09] hasancelik opened #36 "CustomPropertiesTest.testNativeClient"
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Plugins/job/Hibernate-Master/com.hazelcast$hazelcast-hibernate3/267/testReport/junit/com.hazelcast.hibernate/CustomPropertiesTest/testNativeClient/

[2017-04-20 10:30] emre-aydin opened #37 "Update documentation for `hibernate.cache.hazelcast.configuration_file_path`"
`hibernate.cache.hazelcast.configuration_file_path` parameter is used for locating the client configuration file when `hibernate.cache.hazelcast.use_native_client` is set to `true`. There's no mention of this in the documentation.

[2017-07-01 06:31] jontejj commented on #6
We would also like this one. I'm open to implementing it if @u6f6o won't answer soon!

[2017-07-20 12:15] #37 closed

[2017-07-20 12:19] emre-aydin commented on #36
It seems the test doesn't fail anymore.

[2017-07-20 12:19] #36 closed

[2018-04-30 12:34] emre-aydin commented on #34
Closing this one as we didn't hear back from the user.

[2018-04-30 12:34] #34 closed

[2018-11-05 22:02] jantekb opened #41 "Threads stuck in TIMED_WAITING for a pending invocation that seems to be lost"
Hi,

I have a simple webapp  where a handful of Hibernate entities are cached in Hazelcast configured as a L2 cache for Hibernate. Under moderate concurrent load and several days of usage, I can occasionally observe it going unresponsive with the below technical details:

Hazelcast version: 3.9.1
Hibernate version: 4.3.7
hazelcast-hibernate4: 3.8
single node app, no cluster is formed

On my entiti

[2018-11-09 18:21] kenwdelong opened #42 "Hibernate Second Level Cache broken in Hibernate 5.3"
I just tried upgrading to Spring Boot 2.1.0.RELEASE, which includes Hazelcast 3.11 and hazelcast-hibernate52 version 1.2.3, as well as Hibernate 5.3.7.Final.  When I start my app, I get this error:

[code]

I was able to get running again by forcing Hibernate back to 5.2.17.Final.  In the [Hibernate 5.3 docs](https://docs.jboss.org/hibernate/orm/5.3/javadocs/org/hibernate/cache/spi/package-summary

[2018-11-26 16:39] george-007 commented on #42
FYI: https://github.com/hazelcast/hazelcast-hibernate5/pull/48

[2018-11-26 16:42] jdubois commented on #42
Thanks a lot @george-007 - I missed this ticket!!!

[2018-11-27 05:30] mesutcelik commented on #42
Hi @jdubois ,
We would love to have your feedback and any type of contribution...
https://github.com/hazelcast/hazelcast-hibernate5/pull/48 is gonna add 5.3 support which will apparently lift the blocker issue for you...
We will be reviewing the PR this week...

[2018-11-27 09:30] jdubois commented on #42
Thanks a lot @mesutcelik ! At least I can guarantee you we can do some pretty extensive tests on our side. We have a big part of our test suite running with Hazelcast, so basically if it passes our tests, you're pretty sure the release is good! I'll test this as soon as it is released, and will update you.

I'll have a look at the PR now (and will add comment if I find anything strange).

[2018-11-27 09:59] jdubois commented on #42
I did some tests with a snapshot version I built using the branch from @dohertyfjatl and everything worked perfectly well! Awesome work @dohertyfjatl !

[2018-11-28 10:08] leszko commented on #42
Thanks for the tests @jdubois . I also did a few tests and everything worked fine, so I think we're ready to merge (and release) `hazelcast-hibernate` 5.3. Thanks @dohertyfjatl again for the PR.

[2018-11-28 10:10] leszko commented on #42
Closed by https://github.com/hazelcast/hazelcast-hibernate5/pull/48

[2018-11-28 10:10] #42 closed

[2018-12-04 21:39] geoffbays commented on #42
Gents:
Still not getting hazelcast 3.11 to work with hibernate 5.3.7 on Tomcat 9, JDK 11:
Any ideas?? Thanks
// hibernate 5.3.7 and hazelcast-all 3.11 and hazelcast-hibernate5 1.3.0:

16:32:37.168 [main] WARN  o.s.w.c.s.AnnotationConfigWebApplicationContext - Exception encountered du
ring context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCrea
tionException:

[2018-12-05 03:11] dohertyfjatl commented on #42
@geoffbays you will need to use the ``hazelcast-hibernate53`` module (and not ``hazelcast-hibernate5`` or ``hazelcast-hibernate52``).

Here is how it would look in a maven pom file, for example:
[code]
If you had a previous dependency on:
[code]
you would need to remove it.

Can you check if you are using the correct module?

[2018-12-05 16:19] jerrinot opened #44 "Provide guidance on map configuration"
Currently the readme says:
[code]

Related Discussion:
![image](https://user-images.githubusercontent.com/158619/49527310-ee8e4080-f8b1-11e8-933d-b1afda3a159f.png)

[2019-01-29 21:10] jantekb commented on #41
False alarm, the issue is really fixed after upgrading to 3.9.1, for some reason I still had 3.5.1 running.

[2019-04-16 17:16] akintayo opened #60 "hazelcast-hibernate53 does not work with hibernate 5.4"
There is need for perhaps **hazelcast-hibernate54** to support hibernate-orm 5.4.x
I upgraded to hibernate-orm 5.4.2 and used hazelcast-hibernate53 and discovered that setting query cache to true and the cacheRegion i,.e.
[code]
resulted into
[code]
On investigating further I narrowed it down to this block of code in the  org.hibernate.cache.internal.EnabledCaching class

[code]
Specifically, the

[2020-04-20 07:43] letanloc1998 opened #57 "How to setup Hazelcast clients to not stop working if whole cluster is down"
Hi,
I want to connect to database to get data instead cache if Hazelcast down, how to config it?

Thank you.

[2020-04-20 09:57] enozcan commented on #57
Hi @letanloc1998,

There is no direct configuration for this but you may try the option below.

Let me clarify this first: Once a HazelcastClient stops retry operations to connect a cluster, it will not try again. In such a case you need to close SessionFactory and create a new one when you are sure a cluster is up. You can set the retry amounts and intervals in ConnectionRetryConfig.

If client c

[2020-04-23 02:33] letanloc1998 commented on #57
Thank you very much
I see "Use `hibernate.cache.redisson.fallback=true" setting" of Redis.
I think Redis is better than Hazelcast ~~

[2020-04-23 02:33] #57 closed

[2020-04-23 05:45] pivovarit opened #58 "Make fallback strategy configurable if Hazelcast cluster is down"
Users should have a choice of what strategy to apply if a cluster is down.

[2020-04-23 05:47] pivovarit commented on #57
That's actually a good idea to have that configurable. I added [this](https://github.com/hazelcast/hazelcast-hibernate/issues/58) to our backlog.

[2020-04-23 20:49] enozcan commented on #58
Another issue similar to this: #32

[2020-05-04 13:01] pivovarit commented on #58
Continuing in #32

[2020-05-04 13:01] #58 closed

[2020-07-08 08:19] pavelorehov commented on #60
Does not work for me, not sure if it is related to hazelcast itself or something wrong with hibernate or my entities configurations in HBMs so opened thread, putting here for reference https://stackoverflow.com/questions/62790401/hibernate-does-not-store-entities-in-2nd-level-hazelcast-cache

[2020-07-08 08:19] pivovarit commented on #60
Ok, will have a closer look, reopening

[2020-07-14 08:21] pivovarit commented on #60
The original issue was a bug in Hibernate and was resolved in https://github.com/hibernate/hibernate-orm/commit/2076c68ddff5dc39055e90e162a34c99c72261cb

@pavelorehov

Can you tell us more about your application? Do you get any exceptions? logs? Why do you need `5.4.2.Final` if `5.4.18.Final` is available?

We have a working example of Hibernate's `5.4.15.Final` [here](https://github.com/hazelcast

[2020-07-14 08:37] #60 closed, assigned to pivovarit

[2020-07-16 09:14] pivovarit opened #194 "Ensure Hibernate 6 compatibility"
Hibernate 6 is in the making. We need to research how many breaking changes it introduces.

[2020-07-21 11:31] pivovarit opened #207 "Make eviction rate configurable for local caches"
`BASE_EVICTION_RATE` is hardcoded and it could be handy to make that configurable.

https://github.com/hazelcast/hazelcast-hibernate/blob/226b49c229cc6c2f17b587bf2c88c4a0795f014d/hazelcast-hibernate53/src/main/java/com/hazelcast/hibernate/local/LocalRegionCache.java#L56

[2020-11-19 08:28] #207 closed, assigned to nobody

[2020-11-24 07:11] enozcan opened #231 "Upgrade checkstyle version"
Current version (2.15) does not support some lambdas and not appropriate for Java8 features. It needs to be upgraded to 3.x. That is, versions should be updated in pom.xml:
[code]
and this one should be added as dependency to checkstyle profile:
[code]
and the reported errors should be fixed.

This will also cause the following suppression to become not necessary anymore:
https://github.com/hazelc

[2020-12-09 15:18] pivovarit commented on #37
I haven't seen any traces of similar issues happening during last year. It must have been some issue with one of the Hibernate versions since something like this should not be happening with SPI interfaces that are designed to be implemented.

[2020-12-09 16:09] pivovarit commented on #35
That one looks outdated therefore closing. We're not planning to change the architecture of local region caches, but if you think we should, please bring it up.

[2020-12-09 16:20] jontejj commented on #35
How is the problem of losing potential cache invalidations if the node running this local cache goes down dealt with? Only with reliable topic can the cache invalidations actually be trusted to be published properly. Is using a reliable topic problematic? Worried about performance degradations? In that case an option to use a reliable version would be great.

[2020-12-09 16:51] pivovarit commented on #35
When you choose to use local caching, you sacrifice a bit of consistency for the sake of performance. Local region caches are pretty much local in-memory data structures with invalidations being broadcasted on the best-effort basis.

Generally, it's not a tragedy if a message is lost because the eventual consistency is still there since entries would expire due to their TTL anyway. Ideally, each i

[2020-12-09 18:59] pivovarit opened #239 "Remove CONFIG_FILE_PATH_LEGACY"

[2020-12-09 20:43] jontejj commented on #35
Sounds very reasonable to me. Thanks!

[2020-12-10 07:00] pivovarit commented on #35
Just let me provide additional context here. We're aware of the design deficiencies of the `RingBuffer` backing the implementation of `ReliableTopic`, and there are plans to rework it, and then we'd happily switch permanently.

[2020-12-10 10:38] #231 closed, assigned to nobody

[2021-02-12 13:27] qeepcologne opened #251 "HazelcastLocalCacheRegionFactory / map config / eviction size="0" (turn off specific cache via hazelcast config not possible)"
(summary of https://github.com/hazelcast/hazelcast/issues/18158)

I am using hazelcast-hibernate53:2.2.0 with HazelcastLocalCacheRegionFactory and set config like that:
[code]
I want to turn off the cache only for these specific dto and only in that hazelcast config,
 use_second_level_cache=false or removing the cache annotation is also not the solution
(we we use the same dto class in a different

[2021-11-23 15:26] Guisi opened #286 "Hibernate.class.getPackage().getImplementationVersion() returning null in PhoneHomeInfo class"
I am using hazelcast-hibernate53:2.2.1, with HazelcastLocalCacheRegionFactory as the Hibernate cache region factory.

When running my application inside an embedded Tomcat (tomcat-embed-jasper:8.5.63), I'm getting this NullPointerException:

[code]

That happens because for some reason the hibernate implementation version in the classloader is null when building the PhoneHomeInfo query string:

[c

[2021-11-23 15:33] pivovarit commented on #286
Yes, it's a trivial classloading bug. We'll take care of that and release a bugfix

[2021-12-07 14:47] Jijithnair opened #289 "Hazelcast-Hibernate52 compatibility issue with hibernate 5.2.18"
Description -
We have upgraded the spring security web to 5.5.1 version. As part of solving the compatibility issues, we had to upgrade hibernate as well., to version 5.2.18.

This caused additional issues with hazelcast and hence upgraded the jar to hazelcast-hibernate52 - 1.3.0 (also tried with 1.3.3), as our hazelcast version is 3.8.6.

Now certain operations are throwing the following error:
"

[2021-12-08 07:10] pivovarit commented on #289
So, just like you noticed, the problem is that `StandardCacheEntryImpl` changed between Hibernate 5.0.x and 5.2.x, which means that if you serialized the old version of the class, you wouldn't be able to deserialize it into the new one coming from 5.2.x. There's not much you can do about it unless you want to do some dirty hacking.

However, I have good news. When 5.0.x-serialized entries are evic

[2021-12-08 07:10] #289 closed, assigned to nobody

[2021-12-08 07:26] Jijithnair commented on #289
@pivovarit Thanks for your reply, but i am not clear about this comment - "Hibernate 5.0.x and 5.2.x, which means that if you serialized the old version of the class, you wouldn't be able to deserialize it into the new one coming from 5.2.x"

If this is the problem then the triggering of L2 cache flushing will make things work right? We tried this option,but still things dint work out. Can you ple

[2021-12-08 07:29] pivovarit commented on #289
You put `StandardCacheEntryImpl` v1 and try to read it as `StandardCacheEntryImpl` v2 and this doesn't work. Yes, you need to flush the cache and all the new entries should work like a charm. If that's not the case, then we might be dealing with something more subtle than that

[2021-12-08 07:32] Jijithnair commented on #289
Thanks @pivovarit. So,how the higher version of hazelcast i. e. 5.X is tackling this issue, if we move to a higher version in the future?

[2021-12-08 07:36] pivovarit commented on #289
Newer versions of `hazelcast-hibernate` are doing their best to prevent things like this from happening, but if you try to read and write incompatible classes, this will always pop up. It's not us who introduced the incompatibility, but Hibernate

[2021-12-08 09:57] Jijithnair commented on #289
Got it @pivovarit . Thank you.

[2021-12-10 17:43] Jijithnair commented on #289
@pivovarit  The above issue got solved after adding the upgraded hibernate and hazelcast-hibernate jars in the hazelcast server. But it introduced a new error:

"Caused by: com. hazelcast. core. HazelCastException: java. lang. NoClassDefFoundError: javax/persistence/EntityManager"

Are the versions causing the trouble? EntityManager belongs to the hibernate-jpa jar and how can this error be thrown

[2021-12-13 08:23] pivovarit commented on #289
Yes, there must be some dependency mismatch. Hazelcast needs the EntityManager to integrate with Hibernate. Try adding a missing dependency containing `javax.persistence.EntityManger`

[2021-12-13 08:29] Jijithnair commented on #289
@pivovarit I believe the implementation is provided from hibernate-core. The irony is this was working before and the hazelcast server only had hibernate-core & hazelcast-hibernate jars in its classpath. Now we have just replaced those to our latest or upgraded versions. Any idea on how this error can arise?

[2021-12-13 09:05] pivovarit commented on #289
Wait, that error is thrown by the Hazelcast server and not the client? 🤔 are you on embedded or client-server topology?

[2021-12-13 09:08] Jijithnair commented on #289
@pivovarit Yes the error is thrown from hazelcast-enterprise jar. We are using client plus member topology

[2021-12-13 09:20] pivovarit commented on #289
Did you update `hazelcast-hibernate` on your member's classpath as well?

[2021-12-13 09:22] Jijithnair commented on #289
@pivovarit Yes. We have updated it in the member as well as in the server. The issue in the description got resolved after updating the server with the latest jars. But, that intoduced this error.

[2021-12-13 11:31] Jijithnair commented on #289
@pivovarit  Looking at the pom file for hazelcast-hibernate52 - 1.3.0, i could see :
<hibernate.core.version>5.2.5.Final</hibernate.core.version>

Is this having any impact?

[2021-12-13 16:09] pivovarit commented on #289
Technically yes, it could contribute to some mismatch, but I don't think it's the case since 5.2.5 and 5.2.18 should be compatible. You can try excluding hibernate dependency from member's classpath, and later bumping it to 5.2.18.

Where are you running your Hazelcast clusters? on a custom machine with JDK(which?) installed? in some application server? in Docker?

[2021-12-13 18:30] Jijithnair commented on #289
@pivovarit We are running it on a custom machine with jdk installed.

[2022-04-12 12:06] svieujot commented on #194
Is there any update on this ?

[2022-05-20 10:02] mario45211 opened #325 "ASYNC connection mode is blocking `main` thread"
**Describe the bug**
By using a native_client option with fallback flag set (which enabled ASYNC connection mode) `main` thread is blocked, when client is unable to get connection to cluster and prevent application from the proper starting.

**Expected behavior**
ASYNC mode should let application starts regardless of the Hazeclast connection state, which was clearly pointed out that lack of valid

[2022-05-23 08:18] mario45211 commented on #325
My mistake - I've provided many addresses separated by comma, which is not supported by `native_client_address` property so the client was trying to connect to cluster using single address like `host:port,host2:port2`.

On the other hand - above should be supported.

[2022-05-23 08:18] #325 closed, assigned to nobody

[2022-07-25 18:52] jiri-pejchal opened #327 "Native client properties in README not up to date"
The documentation describing the setting up of the native client is not up to date:

https://github.com/hazelcast/hazelcast-hibernate/blob/478ef097db6889a0d069924c9b1efeab823ddec4/README.md?plain=1#L244-L250

It seems to me that the following properties should no longer be used:
- `hibernate.cache.hazelcast.native_client_group`
- `hibernate.cache.hazelcast.native_client_password`

Perhaps the prop

[2022-08-04 09:29] jiri-pejchal opened #328 "UnsupportedOperationException when receiving message in LocalRegionCache with the native client"
If the native client and `HazelcastLocalCacheRegionFactory` are used, `LocalRegionCache` throws during message processing `UnsupportedOperationException` .

[code]

The code throwing the exception has been introduced in the latest version `2.2.1` of hazelcast hibernate - [Ignore invalidation messages for changes made locally  #265](https://github.com/hazelcast/hazelcast-hibernate/pull/265)

https:

[2022-09-07 07:12] mario45211 opened #342 "Support many addresses when setting up 2LC as Hazelcast client"
Hi,

Could you add support for providing many addresses when configuring second-level cache to connect to existing Hazelcast's cluster as a client ? As far as I found changes should be applied in `HazelcastClientLoader` class, which should extract property `hibernate.cache.hazelcast.native_client_address` as an array of string.

Let me know what you think about such feature, thanks!

[2022-09-23 13:25] #194 closed, assigned to pivovarit

[2022-09-23 13:25] #239 closed, assigned to pivovarit

[2022-10-28 13:52] jiri-pejchal opened #378 "Include support for maven wrapper"
Include support for the [Maven wrapper](https://maven.apache.org/wrapper/) for building the project by executing the maven wrapper script without needing to install maven manually.

[code]

[2022-11-02 13:01] #378 closed, assigned to ldziedziul

[2022-11-03 08:45] frant-hartm commented on #328
@jiri-pejchal Thank you for this high-quality bug report. We will look into this, but if you would like to fix this yourself (as you already investigated quite deeply) it might be faster.

[2022-11-23 21:17] #328 closed, assigned to ldziedziul

[2022-11-24 11:18] #342 closed, assigned to ldziedziul

[2022-11-24 11:18] #327 closed, assigned to ldziedziul